<a href="https://colab.research.google.com/github/jetpackman16/BTE320/blob/main/FINAL_BTE320ClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Calculate the surface area of a cylinder:")
pi = 3.14
radius = float(input("Enter radius: "))
height = float(input("Enter height: "))
print("The area is:")
print((2*pi*radius**2) + (2*pi*radius*height), end = " sq. ft")

Calculate the surface area of a cylinder:
Enter radius: 1
Enter height: 2
The area is:
18.84 sq. ft

In [ ]:
n1 = float(input('Please provide the first number: '))
n2 = float(input('Please provide the second number: '))
s = input('Please provide the operator: ')

if s == '+':
  print(f'{n1} + {n2} = {n1 + n2}')
elif s == '-':
  print(f'{n1} - {n2} = {n1 - n2}')
elif s == '*':
  print(f'{n1} * {n2} = {n1 * n2}')
elif s == '/':
  print(f'{n1} / {n2} = {n1 / n2}')
elif s == '%':
  print(f'{n1} % {n2} = {n1 % n2}')
elif s == '**':
  print(f'{n1} ** {n2} = {n1 ** n2}')
elif s == '//':
  print(f'{n1} // {n2} = {n1 // n2}')
else:
  print('Invalid operator')

Please provide the first number: 1
Please provide the second number: 4
Please provide the operator: *
1.0 * 4.0 = 4.0

In [ ]:
for numberHours in range(1,9):
  fee = 5 + 2.5 * numberHours
  if fee < 10:
    fee = 10.0

  elif fee > 20:
    fee = 20.0
  print(numberHours,fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
import math

print('Ad$\t', 'Profit')
for adMoney in range(0,201,25):
  revenue = (20 + 2 * round(math.sqrt(adMoney))) * 10
  cost = 200 + adMoney
  profit = revenue - cost
  print(adMoney, '\t' , profit)

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
# Rock Paper Scissors Game
import random

play = input('Would you like to play a game (Yes/No)? ').capitalize()

while play == 'Yes':
  p1 = input('Player 1 - Choose between Rock/Paper/Scissors: ').capitalize()
  if p1 in ['Rock', 'Paper', 'Scissors']:
    p2 = random.choice(['Rock', 'Paper', 'Scissors']).capitalize()

    print(f'Player chose: {p1}; Computer chose: {p2} ')

    if p1 == p2:
      print("It's a tie!")
    elif ((p1 == 'Rock' and p2 == 'Scissors') or
        (p1 == 'Scissors' and p2 == 'Paper') or
        (p1 == 'Paper' and p2 == 'Rock')
        ):
      print('Player wins!')
    else:
      print('Computer wins!')

  else:
    print('Invalid Input')
  play = input('Would you like to play another game (Yes/No)? ').capitalize()
print('Have a good day!')

Player chose: Rock; Computer chose: Rock
It's a tie!

In [ ]:
# Infinite List of Numbers (Decimals)
lst = []

num = float(input('Give a number: '))

while num != 0.0:
  lst.append(num)
  num = float(input('Give a number: '))
lst.sort(reverse=True)
print(lst)

Give a number: 1
Give a number: 1
Give a number: 2
Give a number: 2
Give a number: 3
Give a number: 4
Give a number: 5
Give a number: 6
Give a number: 6
Give a number: 7
Give a number: 8
Give a number: 9
Give a number: 10
Give a number: 0
[10.0, 9.0, 8.0, 7.0, 6.0, 6.0, 5.0, 4.0, 3.0, 2.0, 2.0, 1.0, 1.0]

In [ ]:
months={}

names=['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]]=names[idx]
print(months)

months={}

names=['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]


cntr=0
for num in numbers:
  months[num]=names[cntr]
  cntr +=1
months

{1: 'jan', 2: 'feb', 3: 'mar', 4: 'apr', 5: 'may', 6: 'jun', 7: 'jul', 8: 'aug', 9: 'sep', 10: 'oct', 11: 'nov', 12: 'dec'}

{1: 'jan',
 2: 'feb',
 3: 'mar',
 4: 'apr',
 5: 'may',
 6: 'jun',
 7: 'jul',
 8: 'aug',
 9: 'sep',
 10: 'oct',
 11: 'nov',
 12: 'dec'}

In [ ]:
counts={}

while len(counts)<5:
  key=input('given a string:')

  if key not in counts:
    counts[key]=1
  else:
    counts[key]+=1
print(counts)

given a string:july
given a string:may
given a string:april
given a string:march
given a string:law
{'july': 1, 'may': 1, 'april': 1, 'march': 1, 'law': 1}

In [ ]:
def calcFee(hours):
    base_fee = 5
    hourly_rate = 2.5
    total_fee = base_fee + (hours * hourly_rate)
    return total_fee

hours_parked = int(input("Enter hours parked: "))
fee = calcFee(hours_parked)
print(f"Parking fee: $ {fee:.2f}")

Enter hours parked: 2
Parking fee: $ 10.00

In [ ]:
def reverse(s):
  if len(s) <= 1:
    return s
  else:
    #return s[-1] + reverse(s[:-1])
    return s[-1] + reverse(s[1:-1]) + s[0]
    #return reverse(s[1:]) + s[0]

reverse('Hello')

'olleH'

In [ ]:
def getValues(n):
    L = []
    for i in range(n):
        try:
            x = float(input("Enter a value: "))
            L.append(x)
        except ValueError:
            print("Invalid input. Please enter a number.")
            return []
    return L

def calcAverage(alist):
    if len(alist) == 0:
        print("No values were entered. Cannot calculate average.")
        return None
    sum = 0
    for x in alist:
        sum += x
    return sum / len(alist)

if __name__ == "__main__":
    try:
        n = int(input("Enter the number of values: "))
        L = getValues(n)
        avg = calcAverage(L)
        if avg is not None:
            print(f"The average is: {avg:.2f}")
    except ValueError:
        print("Invalid input. Please enter a whole number.")

Enter the number of values: 1
Enter a value: 2
The average is: 2.00

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last

  def display(self, formal=False):
    if formal:
      print(f'Hello, {self.first} {self.last}')
    else:
      print(f'Hi {self.first}')

  def __str__(self):
    #return str (self.first) + ", " + str(self.last)
    #return "{}, {}".format(self.first, self.last)
    return f'{self.first}, {self.last}'
greeting = Greeting('Donald', 'Becker')
greeting.display()
print(greeting)

Hi Donald
Donald, Becker

In [1]:
class Student:
    def __init__(self, name, number):
        self.name = name
        self._number = number
        self._courses = []

    def __len__(self):
        return len(self._courses)

    def enroll(self, course):
        if course in self._courses:
            print(f'You have already enrolled in {course}')
        else:
            self._courses.append(course)

    def get_courses(self):
        return self._courses

    def get_number(self):
        return self._number

    def set_number(self, newnumber):
        self._number = newnumber

s1 = Student('Bob', 100)
s2 = Student('Alice', 101)

print(s1.name, s2.name)

Bob Alice

In [ ]:
class Coordinate:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    dx = (self.x - other.x) ** 2
    dy = (self.y - other.y) ** 2
    dist = (dx + dy) ** 0.5
    print(dist)

a = Coordinate(0,0)
b = Coordinate(3,4)
a.distance(b)

5.0

In [ ]:
# 2. a
import math

class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    return math.sqrt((self.x - other.x) ** 2 + (self.y - other.y) ** 2)

In [ ]:
#2. b
class Rectangle:
  def __init__(self):
    self.c1 = Point(0, 0)
    self.c2 = Point(0, 2)
    self.c3 = Point(2, 0)
    self.c4 = Point(2, 2)
    self.width = self.calculate_width()
    self.length = self.calculate_length()

  def calculate_width(self):
    return self.c1.distance(self.c2)

  def calculate_length(self):
    return self.c1.distance(self.c3)

  def area(self):
    return f'Area = {self.width * self.length} sq. ft.'

square = Rectangle()
square.area()

'Area = 4.0 sq. ft.'

In [ ]:
# Parent class (a.k.a. super-class)
class Car:
  def __init__(self, make, year):
    self._make = make
    self._year = year

  def get_make(self):
    return self._make

  def set_make(self, newMake):
    self._make = newMake

# Child class (a.k.a. sub-class)
class SUV(Car):
  def activateAWD(self):
    print ('AWD acivated.')